article,
aside,
edPokemonInfo,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: 01C 01D 018 019;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
html input[type=button],
/* 1 */
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
figure {
    margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

/* Font styles */




/* General styles */

.wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px auto 0 auto;
}

.bg {
    background-image: url(../assets/bg.jpg);
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -99;
}




/* Header styles */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 800px;
    object-fit: cover;
    margin: 30px 0;
}




/* Start Screen styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.startScreen {
    font-size: 2rem;
    border: 5px black dashed;
    border-radius: 30px;
    background-color: palegoldenrod;
    padding: 50px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.startButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.startButton {
    width: 40%;
    min-width: 250px;
    font-size: 3rem;
}


/* Pokemon List styles */

.sprite {
    width: 100px;
    height: auto;
}


.pokemonList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}






/* Detailed Pokemon Info styles */


.detailedPokemonInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px black dashed;
    border-radius: 30px;
    background-color: palegoldenrod;
    padding: 50px;
    max-width: 840px;
}

.pokemonBox {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: center;
    text-align: center;
    min-width: 300px;
}

.detailedData {
    list-style: none;
    padding: 0;
}

.detailedData li {
    font-size: 2rem;
    text-transform: capitalize;
    text-indent: none;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
    min-width: 250px;
}

.stats h2 {
    font-size: 2rem;
}

.typeBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.pokemonWeakAgainst {
    margin-right: 20px;
}

.chooseOrBackContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

.chooseThisPokemon,
.goBack {
    width: 20%;
    font-size: 2rem;
    min-width: 180px;
    margin: 0 10px;
}


.attack,
.spAtk,
.defend,
.run {
    width: 40%;
    min-width: 150px;
    max-width: 300px;
    font-size: 3rem;
}


.hidden {
    display: none;
}

/* .flex {
    display: block;
} */

.detailedSprite {
    width: 300px;
    height: 300px;
}

.pokemonName {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: bolder;
}

.pokemonType {
    font-size: 2rem;
    text-transform: capitalize;
}


/* Battle screen */

.battleScreen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px black dashed;
    border-radius: 30px;
    background-color: palegoldenrod;
    padding: 50px;
    max-width: 1200px;
}

.playerBattlePokemon {
    width: 300px;
    height: 300px;
}

.computerBattlePokemon {
    width: 180px;
    height: 180px;
}

.playerPokemon,
.computerPokemon {
    text-align: center;
    width: 50%;
}

.playerPokemon {
    margin-top: 200px;
}

.selectedPokemonHp,
.computerSelectedPokemonHp {
    font-size: 3rem;
    font-weight: bold;
}


.break {
    flex-basis: 100%;
    height: 0;
}

.battleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin-top: 50px;
}

.battleTextContainer {
    flex-grow: 1;
    flex-basis: 60%;
    border: 5px black solid;
    border-radius: 30px;
    background-color: white;
    min-height: 100px;
    font-size: 3rem;
    padding: 30px;
    margin-bottom: 20px;
    min-width: 380px;
}

.battleButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-basis: 40%;
    row-gap: 10px;
}





/* Footer */


footer {
    margin-top: auto;
}

.footer {
    margin-top: 50px;
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}


@media screen and (max-width: 992px) {
    html {
        font-size: 8px;
    }

    .sprite {
        width: 90px;
    }

    .detailedSprite,
    .playerBattlePokemon {
        width: 270px;
        height: 270px;
    }

    .stats {
        flex-basis: 80%;
    }

    .chooseThisPokemon,
    .goBack {
        min-width: 150px;
    }

    .battleContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .battleTextContainer {
        width: calc(100% - 60px);
        min-height: 80px;
    }

}

@media screen and (max-width: 768px) {
    html {
        font-size: 7px;
    }

    .sprite {
        width: 80px;
    }


    .chooseThisPokemon,
    .goBack {
        min-width: 130px;
    }

    .detailedSprite,
    .playerBattlePokemon {
        width: 250px;
        height: 250px;
    }

    .battleTextContainer {
        min-height: 60px;
    }

}

@media screen and (max-width: 576px) {
    html {
        font-size: 6px;
    }

    .logo {
        margin: 10px 0;
    }

    .sprite {
        width: 70px;
    }

    .detailedSprite,
    .playerBattlePokemon {
        width: 230px;
        height: 230px;
    }

    .chooseThisPokemon,
    .goBack {
        min-width: 110px;
    }

    .battleTextContainer {
        min-height: 40px;
    }

}